* {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      letter-spacing: 0.5px;
}

.tambah-user-button {
      border-bottom: solid 1.5px #a3a0a6;
      box-shadow: 0 2px rgba(0, 0, 0, 0.1);
      margin-bottom: 2rem;
}

.tambah-user-button a {
      display: inline-flex;
      align-items: center;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: #333;
      background-color: #fff;
      border: 2px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-decoration: none;
      margin: 0.5rem 0 0.5rem 2rem;
      transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
}

.tambah-user-button a:hover {
      background-color: #f9f9f9;
      border-color: #ccc;
}

.tambah-user-button i {
      margin-right: 0.5rem;
      font-size: 1.25rem;
      color: #333;
}

.search-sort-container {
      display: flex;
      align-items: center;
      gap: 20rem;
      margin-left: 2rem;
}

.search-box {
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.316);
      width: 35%;
}

.search-box input {
      border: none;
      padding: 0.5rem;
      border-radius: 0.5rem 0 0 0.5rem;
      outline: none;
      background-color: #cac4d06c;
      width: 100%;
}

.search-box button {
      border: none;
      background-color: #5769c2;
      padding: 0.5rem 1rem;
      border-radius: 0 0.5rem 0.5rem 0;
      color: white;
      cursor: pointer;
}

.search-box button i {
      font-size: 16px;
}

.sort-box {
      display: flex;
      align-items: center;
      font-size: 14px;
}

.sort-box select {
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      padding: 0.5rem 5rem 0.5rem 1rem;
      margin-left: 0.5rem;
      outline: none;
      cursor: pointer;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="5,8 1,2 9,2" fill="%23000"/></svg>');
      background-repeat: no-repeat;
      background-position: right 0.5rem center;
      background-size: 0.75rem;
}

.table-container {
      margin: 2rem 1rem 2rem 2rem;
      overflow-x: auto;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

table {
      width: 120%;
      border-collapse: collapse;
      background-color: #1e1e1e;
      color: #ddd;
      border-radius: 0.5rem;
      margin-right: 1rem;
}

th, td {
      padding: 0.5rem;
      text-align: center;
      border: 1.5px solid #ddd;
      font-size: 12px;
}

th {
      background-color: #cac4d06c;
      color: #1D1B20;
      font-size: 14px;
      padding: 0 1rem;
}

th:nth-child(3), th:nth-child(6), 
td:nth-child(3), td:nth-child(6) {
    width: 12rem;
}

th:nth-child(1), th:nth-child(2), th:nth-child(5), th:nth-child(10), 
td:nth-child(1), td:nth-child(2), td:nth-child(5), td:nth-child(10) {
    width: 4rem;
}

th:nth-child(9), th:nth-child(7), th:nth-child(8), 
td:nth-child(9), td:nth-child(7), td:nth-child(8) {
    width: 8rem;
}

tr:nth-child(odd) {
      background-color: #fff;
      color: black;
}

tr:nth-child(even) {
      background-color: #cac4d0;
      color: black;
}

.action-buttons {
      display: flex;
      gap: 0.5rem;
  }

  .action-buttons button, .action-buttons a {
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 0.875rem;
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: white;
  }

.tombol-edit {
      background-color: #0056b3;
      color: #D9D9D9;
      padding: 0.25rem 1rem;
      transition: background-color 0.3s ease, transform 0.3s ease; 
      cursor: pointer; 
}

.tombol-edit:hover {
      background-color: #D9D9D9; 
      color: #0056b3;
      border: 1px solid #0C25A3;
}

.tombol-hapus-user {
      background-color: #dc3545;
      color: #D9D9D9;
      padding: 0.25rem 0.5rem;
      transition: background-color 0.3s ease, transform 0.3s ease; 
      cursor: pointer; 
}

.tombol-hapus-user:hover {
      background-color: #D9D9D9; 
      color: #dc3545;
      border: 1px solid #dc3545;
}

.tombol-edit i, .tombol-hapus-user i {
      margin-right: 0.5rem;
}