body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
}

.form-section {
    background-color: #fff;
    padding: 1.25rem 2rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    position: relative;
}

.form-section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

form label {
    display: block;
    margin: 0.25rem 0 0.25rem 0;
    font-weight: bold;
    font-size: 1rem;
}

form input[type="text"],
form textarea,
form select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 14px;
}

form textarea {
    resize: vertical;
}

form select {
    outline: none;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none; 
    appearance: none; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="5,8 1,2 9,2" fill="%23000"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center; 
    background-size: 0.75rem;
}

.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1.5px dashed #474747;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    margin: 1rem auto;
    cursor: pointer;
}

/* Optional: Style for image preview */


.upload-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: center;
}

.upload-box img{
    width: 15%;
    align-self: center;
}

.upload-box input {
    padding-top: 0.5rem;
    padding-left: 5rem;
}

.button-container {
    text-align: right;
    margin-top: 1rem; 
}

.tombol-save {
    color: white;
    font-size: 1rem;
    background-color: #0C25A3;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border-width: 0;
    text-decoration: none;
    gap: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
}

.tombol-save:hover {
    background-color: #D9D9D9; 
    color: #0C25A3;
    border: 1px solid #0C25A3;
}