body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.keterangan{
    margin: 1rem 2rem;
    font-size: 14px;
    text-align: justify;
}

.table {
    width: 80%;
    border-collapse: collapse;
    margin: 1rem 5rem;
}

.table h3{
    font-size: 1rem;
    margin: 1rem 0;
}

table {
    border-collapse: collapse; 
    width: 100%; 
    font-size: 14px;
}

th, td {
    border: 1px solid #000;
    padding: 0.5rem;
    text-align: center;
}

td input{
    border: none;
    outline: none;
    background-color: transparent;
    text-align: center;
    width: 7.5rem;
}

th {
    background-color: #E2D3EB;
    color: black;
    padding: 0.25rem;
}

th:nth-child(1), 
td:nth-child(1){
    width: 10rem;
}

.save {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 0 2rem;
    padding: 2rem 0;
    border-top: solid 1.5px #79747E;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
}

.save a{
    color: #444;
    font-size: 1rem;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border-width: 0;
    text-decoration: none;
    gap: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
}

.save a:hover {
    color: black;
    border: 1px solid black;
}

.tombol-save {
    color: white;
    font-size: 1rem;
    background-color: #0C25A3;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border-width: 0;
    text-decoration: none;
    gap: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
}

.tombol-save:hover {
    background-color: #D9D9D9; 
    color: #0C25A3;
    border: 1px solid #0C25A3;
}