body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.profile-admin {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0 1.5rem 2rem;
}

.profile-admin i {
    font-size: 7rem;
    color: #eaddff;
}

.foto-profile {
    background-color: #0C25A3;
    border-radius: 100%;
}

.data-profile-admin {
    display: flex;
    gap: 12.5rem;
    margin-left: 2rem;
}

.data {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    display: grid;
    gap: rem;
    width: 150%;
}

.sub-judul {
    font-size: 1.1rem;
}

.value {
    font-size: 17px;
}

.value-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.value-password a {
    color: #0C25A3;
    font-size: 1rem;
    text-decoration: none;
}

.value-password a:hover {
    font-weight: 600;
}

.password-admin {
    margin-right: 1rem;
    padding-right: 1rem;
}

#password-value {
    width: 4rem;
}

.edit {
    margin: 2rem 0 0 2rem;
    width: 12.5%;
}

.edit-password:hover {
    border: none;
    pointer-events: none;
}

.edit a {
    color: white;
    font-size: 1rem;
    background-color: #0C25A3;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    border-width: 0;
    text-decoration: none;
    gap: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
}

.edit a:hover {
    background-color: #D9D9D9; 
    color: #0C25A3;
    border: 1px solid #0C25A3;
}

.edit a {
    text-decoration: none;
    color: white;
}

.password-admin .value-password {
    position: relative;
    padding-right: 40px; /* Memberi ruang tambahan untuk ikon toggle */
}

.password-admin .toggle-password {
    position: absolute;
    right: 10px; /* Menambahkan sedikit jarak dari tepi kanan */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px; /* Sesuaikan ukuran ikon jika perlu */
    z-index: 1; /* Memastikan ikon berada di atas konten lainnya */
}