body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ket-edit-password p {
    font-size: 1rem;
    margin: 2rem;
    text-align: justify;
}

.edit-password-admin {
    margin-left: 29px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label,
.form-group input {
    display: block;
    width: 100%;
    font-size: 1rem;
}

.form-group label {
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.form-group input {
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #0C25A3;
}

.tombol {
    margin-top: 4rem;
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
}

.tombol a {
    color: #444;
    font-size: 1rem;
    background-color: #D9D9D9;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border-width: 0;
    text-decoration: none;
    gap: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
}

.tombol a:hover { 
    color: black;
    border: 1px solid black;
}

.tombol-simpan {
    color: white;
    font-size: 1rem;
    background-color: #0C25A3;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border-width: 0;
    text-decoration: none;
    gap: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
}

.tombol-simpan:hover {
    background-color: #D9D9D9; 
    color: #0C25A3;
    border: 1px solid #0C25A3;
}

.password-field {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
}

.password-field i {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    color: #888;
}
