* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tambah_survei h2 {
    text-align: center;
    margin: 1.5rem;
}

.tab-container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #79747E;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
    margin: 1rem 2rem;
}

.tab-container {
    display: flex;
    background-color: #f1ebf7;
    font-size: 14px;
}

.tab {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #f1ebf7;
    cursor: pointer;
    color: #000;
    font-weight: 600;
}

.tab.active {
    background-color: #0C25A3;
    color: #ffffff;
    border-radius: 0.25rem 0.25rem 0 0;
    font-weight: 600;
}

.sort-box {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.table {
    width: 80%;
    border-collapse: collapse;
    margin: 1rem 5rem;
}

.table h3 {
    font-size: 1rem;
    margin: 1rem 0;
}

table {
    border-collapse: collapse; 
    width: 100%; 
    font-size: 14px;
}

th, td {
    border: 1px solid #000;
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #E2D3EB;
    color: black;
    padding: 0.25rem;
}

th:nth-child(1), 
td:nth-child(1){
    width: 20%;
}

th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5), 
td:nth-child(2) td:nth-child(3), td:nth-child(4), td:nth-child(5) {
    width: 15%;
}

th:nth-child(6), 
td:nth-child(6){
    width: 10%;
}

.grafik {
    margin-left: 2rem;
}

.grafik div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

canvas {
    max-width: 28rem; 
    max-height: 20rem; 
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    border: #000 solid 1px;
    border-radius: 0.5rem; 
    box-sizing: border-box; /* Termasuk border dan padding dalam ukuran elemen */
}


.actions {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    padding: 2rem 0;
    border-top: 1.5px solid #79747E;
    text-decoration: none;
}

.tombol-cancel {
    color: #444;
    font-size: 1rem;
    background-color: #D9D9D9;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    text-decoration: none;
    gap: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
    font-weight: 600;
}

.tombol-cancel:hover {
    color: black;
    border: 1px solid black;
    background-color: #f0f0f0;
}

.tombol-publish {
    color: white;
    font-size: 1rem;
    background-color: #0C25A3;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    text-decoration: none;
    gap: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
    font-weight: 600;
}

.tombol-publish:hover {
    background-color: #D9D9D9; 
    color: #0C25A3;
    border: 1px solid #0C25A3;
}
