body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-add-user {
    text-align: center;
    border-bottom: solid 1.5px #79747E;
    margin: 1.5rem 2rem 1rem 2rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
}

.data-profile-user {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.form-group {
    margin-bottom: 1rem;
    width: 40rem;
    display: flex;
    margin-left: 1rem;
}

.form-group label, .form-group input {
    display: block;
    width: 100%;
    font-size: 1rem;
}

.form-group label {
    font-weight: 600;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.form-group input,
.form-group select {
    flex-grow: 1;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    width: 300%;
    border: 1px solid #0C25A3;
}

.form-group select {
    -moz-appearance: none;
    -webkit-appearance: none; 
    appearance: none; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><polygon points="5,8 1,2 9,2" fill="%23000"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center; 
    background-size: 0.75rem;
}

.roles {
    display: flex;
    width: 35rem;
}

.roles label {
    width: 35rem;
}

.roles input {
    width: 10rem;
}

.tombol {
    margin: 2rem 2rem 1.5rem 0;
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
}

.tombol-cancel {
    color: #444;
    font-size: 1rem;
    background-color: #D9D9D9;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border-width: 0;
    text-decoration: none;
    gap: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
}

.tombol-cancel:hover { 
    color: black;
    border: 1px solid black;
}

.tombol-save {
    color: white;
    font-size: 1rem;
    background-color: #0C25A3;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border-width: 0;
    text-decoration: none;
    gap: 0.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer; 
}

.tombol-save:hover {
    background-color: #D9D9D9; 
    color: #0C25A3;
    border: 1px solid #0C25A3;
}

.password-field {
    position: relative;
    display: flex;
    align-items: center;
}

.password-field i {
    position: absolute;
    right: 0.5rem;
    cursor: pointer;
    color: #888;
}