* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
}

.dashboard_admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 2rem 2rem;
    text-align: justify;
}

.judul_dashboard {
    width: 60%;
    text-align: justify;
}

.judul_dashboard h2{
    margin-bottom: 5px;
}

.judul_dashboard h3{
    margin-bottom: 20px;
}

.dashboard_admin ul {
    flex: 1;
    list-style-type: disc;
    margin-left: 1rem;
    
}

.dashboard_admin li {
    margin-bottom: 0.5rem;
    width: 90%;
}

.total-survey {
    margin: 4.5rem 6rem 0 0;
}

.total-survey-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #0C25A3;
    color: #fff;
    padding: 1.6rem 1rem;
    border-radius: 1rem;
    text-align: center;
    width: 100%;
    margin: 0;
    
}

.total-survey-box i {
    font-size: 3rem;
    margin-left: 1rem;
}

.total-survey-box .total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.total-survey-box .total span {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.cari-container {
    text-align: center;
    margin: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1.5px #79747E;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
}

.search-sort-container {
    display: flex;
    align-items: center;
    gap: 18.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
}

.search-box {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.316);
    width: 35%;
}

.search-box input {
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem 0 0 0.25rem;
    outline: none;
    background-color: #cac4d06c;
    width: 100%;
}

.search-box button {
    border: none;
    background-color: #5769c2;
    padding: 0.5rem 1rem;
    border-radius: 0 0.25rem 0.25rem 0;
    color: white;
    cursor: pointer;
}

.search-box button i {
    font-size: 16px;
}

.sort-box {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.sort-box select {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0.5rem 5rem 0.5rem 1rem;
    margin-left: 0.5rem;
    outline: none;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.select-container {
    position: relative;
    display: flex;
}

.arrow-select {
    align-items: center;
    position: absolute;
    right: 1px; /* Sesuaikan dengan posisi yang diinginkan */
    border-radius: 3.5px 0 0 3.5px;
    transform: translateY(3%) rotate(180deg);
    pointer-events: none;
    background-color: #ced3ed;
    padding: 4.5px 7px;
}

.hasil {
    margin: 0 2rem 2rem 2rem;
}

.img {
    width: 50rem;
    height: 10rem;
    background-color: #D9D9D9;
    margin: 1.25rem 1rem 0 0;
    border-radius: 0.5rem;
}

.hasil-container {
    display: flex;
    font-size: 14px;
}

.ket {
    margin-top: 1rem;
    margin-right: 4rem;
    text-align: justify;
}

.wilayah {
    font-weight: 600;
    margin: 1rem 0 0.25rem 0;
}

.ket-action {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}

.tanggal {
    display: flex;
}